<h1 class="">View Node</h1>

<form action="/node-mongodb-mongoose-user" class="" method="POST">

    <input type="text" name="emailBody">
    <button type="submit">Enviar</button>

    {{ firstNameV.email }}
    {{ lastname }}
    

</form>